*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  padding-top: 150px;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
