*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* generali */
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* primo container */
.container{
  padding-top: 10px;
}
.box{
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
/* secondon container */
h2{
  margin-left: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: green;
}
.js_container{
  width: 300px;
  flex-wrap: wrap;
  margin:auto;
  padding-bottom: 100px;
}
